table,
tr,
td {
  border: 1px solid black;
}
body {
  background-image: url("images/serpiente.jpg");
}
#puntaje {
  border-style: dotted;
  width: 30px;
  font-size: 20px;
}
h1 {
  color: blue;
  text-decoration: underline;
}
h2 {
  text-align: center;
}
canvas {
  margin: 0 auto;
  display: block;
}
